@import './partials/genaral';
// Header

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    img {
        height: 70%;
    }
    li {
        list-style: none;
        display: inline-block;
        padding: 0 10px;
        a {
            text-decoration: none;
            color:black;
            font-weight: 600;
            font-size: 14px;
            &.active, &:hover {
                color: #0282F9;
            }
        }    
    }
}

.jumbo  {
    background-image: url(../../public/images/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
  }
.my-products {
    background-color: #1C1C1C;
    height: 700px;
    .update {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 100%;
    }
    .container {
        height: 100%;
        .singleComic {
            width: 80%;
            margin: 0 auto;
            .singleComicImg {
                display: inline-block;
                transform: translateY(-50px);
            }
            .singleComicTitle {
                color: #fff;
                margin-bottom: 10px;
                font-size: 26px;
            }
            .singleComicSeries {
                color: #fff;
                margin-bottom: 25px;
                text-transform: uppercase;
            }
            .singleComicPrice {
                color: #0282f9;
                font-weight: bold;
                margin-bottom: 25px;
                display: inline-block;
                padding: 5px;
                border-radius: 15PX;
                background-color: #bce4f0;
            }
            .singleComicDesc {
                color: #fff;
                margin-bottom: 25px;
            }
            .singleComicSale {
                color: #0282F9;
                font-size: 20px;
            }
        }
        .cart {
            color: #0282F9;
            padding: 30px 0 20px 10px;
        }
        .series {
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            background-color:#0282F9;
            padding: 10px;
            display: inline-block;
            transform: translate(-20px, -20px);
        }
        .products-list {
            display: flex;
            flex-wrap: wrap;
            .single-product {
                width: calc(100% / 6);
                padding: 20px 10px;
                &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }
                img {
                    width: 170px;
                    height: 170px;
                    object-fit: cover;
                    object-position: top;
                }
                h5, h4 {
                    margin: 10px 0;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 100;
                }
                h5 {
                    font-size: 11px;
                }
                h4 {
                    font-size: 13px;
                }
                .price {
                    color: #0282F9;
                }
            }
        }
        .my-btn {
            text-align: center;
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                font-size: 13px;
                background-color:#0282F9;
                padding: 8px 50px;
                &:hover {
                    color:#0282F9;
                    background-color: #fff;
                }
            }
        }
    }
}



// Footer

.footer-top {
    background-image: url(../../public/images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    overflow: hidden;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    .left {
        display: flex;
        .comics-shop, .dc, .sites {
            padding: 0 20px;
        }
        h3 {
            color: white;
            padding: 7px 0;
        }
        ul {
            list-style: none;
            padding: 5px 0;
            li {
                padding: 2px 0;
                a {
                    text-decoration: none;
                    color: gray;
                    &:hover {
                        color: #0282F9;
                    }
                }
            }
        }
    }
}
.footer-bottom {
    background-color: #303030;
    height: 15vh;
    z-index: 555;
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            border: 2px solid #0282F9;
            padding: 10px;
            text-decoration: none;
            color: white;
            &:hover {
                border: 2px solid #fff;
                color: #0282F9;
            }
        }
        .follow {
            display: flex;
            align-items: center;
            h3 {
                padding: 0 15px;
                color:#0282F9;
            }
            img {
                padding: 0 10px;
            }
        }
    }
}